version: '3.8'

services:
  db:
    image: postgres:15
    environment:
      POSTGRES_DB: ideeza
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: password
    volumes:
      - postgres_data:/var/lib/postgresql/data

  web:
    build: .
    ports:
      - "8000:8000"
    volumes:
      - .:/app
    environment:
      - DJANGO_SETTINGS_MODULE=ideeza.settings
      - POSTGRES_DB=ideeza
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=password
      - POSTGRES_HOST=db
      - POSTGRES_PORT=5432
    depends_on:
      - db
    command: sh -c "./wait-for-db.sh python manage.py migrate && python manage.py runserver 0.0.0.0:8000"

volumes:
  postgres_data:
